:root {
	--main-bg-color: rgb(22, 22, 22);
	--command-bg-color: rgb(17, 14, 14);
	--bar-bg-color: rgb(131, 131, 131);
	--bar-separator-border-color: rgb(219, 219, 219);
	--image-outline-color: rgb(77, 77, 77);
	--search-bg-color: rgba(10, 10, 10, 0.4);
	--text-color: rgb(255, 255, 255);
	--text-placeholder-color: rgb(226, 226, 226);
}
body {
	margin: 0;
    color: var(--text-color);
	background-color: var(--main-bg-color);
}
#web {
	width: 100%;
	min-height: 100vh;
}
#navigation-bar {
	width: 100%;
	height: 5vh;
	background-color: var(--bar-bg-color);
	border-bottom: var(--bar-separator-border-color) 1px solid;
}
#bar-image-name-wrapper {
	width: fit-content;
	height: 100%;
	float: left;
}
#bar-image-wrapper {
	max-height: 5vh;
	padding-right: 5px;
	float: left;
}
.bot-image {
	border-radius: 50%;
	border: 1px var(--image-outline-color) solid;
	max-width: 100%;
}
#bar-image {
	height: 4.5vh;
}
#bar-text-wrapper {
	float: left;
	height: 100%;
}
#bar-name {
	color: var(--text-color);
	font-size: 4vh;
	height: 100%;
	text-align: left;
}
#search-bar-wrapper {
	float: right;
	width: 25%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
#search {
	background-color: var(--search-bg-color);
	border-radius: 3px;
	height: 65%;
	width: 100%;
}
#search-icon {
	width: fit-content;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	float: left;
}
#search-icon svg {
	height: 2.2vh;
	margin-left: 0.2vh;
	fill: var(--text-color);
}
#search-input-wrapper {
	float: left;
	height: 100%;
	width: calc(100% - 2.2vh - 0.2vh);
}
#search-input {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	border: none;
	background-color: transparent;
	color: var(--text-color);
    font-size: medium;
    
}
#search-input::placeholder {
	color: var(--text-placeholder-color);
}
#search-input:focus-visible {
	outline: none;
}
#content-wrapper {
    min-height: calc(100vh - 5vh - 1px);
    height: 100%;
    width: 100%;
}
#main {
    width: 95%;
    height: max-content;
    margin: auto;
    margin-top: 5vh;
}
.sidebar {
    width: 20%;
    height: 100%;
}
#main-content {
    width: 60%;
    height: 100%;
    float: left;
}
.navigation-arrow {
    float: right;
}
.navigation-arrow svg {
    height: 3vh;
    transform: rotate(-90deg);
}
.navigation-key-wrapper {
    display: table;
    cursor: pointer;
    font-size: 3vh;
    width: 100%
}
.sidebar {
    float: left;
}
#navigation {
    margin-right: 3vw;
}
.navigation-command-list {
    margin-left: 2vw;
}
.navigation-command-wrapper {
    padding-bottom: 0.5vh;
    padding-top: 0.5vh;
}
.navigation-command-wrapper {
    cursor: pointer;
}
.command-wrapper {
	width: 100%;
	height: min-content;
	min-height: 5vh;
	border-radius: 20px;
	background-color: var(--command-bg-color);
	margin-bottom: 2vh;
	padding: 5%;
	padding-top: 1%;
	padding-bottom: 2%;
}
.command-title {
	font-size: 3vh;
}
.command-title-wrapper {
	text-align: center;
}
.usage-text {
	font-size: 2vh;
}